body {
  background-color: lightblue;
}

p {
  font-family: verdana;
  font-size: 20px;
  background-color: Tomato;
}

ul.a {
  list-style-type: circle;
}

ul.b {
  list-style-type: square;
}

img {
  width: 100%;
  height: auto;
}

#footer {
  background-color: #F1F1F1;
  text-align: center;
  style:"margin-bottom:0";
  font-size: 30px;
}
