h1 {
  font-family: fantasy;
}

h6 {
  font-style: italic;
  font-family: cursive;
  style='margin-bottom: 40px;
}

body {
  background-color: lightblue;
  font-family: sans-serif;
}

p {
  font-family: verdana;
  font-size: 20px;
}

ul.a {
  list-style-type: circle;
}

ul.b {
  list-style-type: square;
}

ul.c {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#footer {
  text-align: center;
  style:"margin-bottom:0";
  font-size: 20px;
  font-family: sans-serif;
}

#outdoors {
  font-style: italic;
  font-family:sans-serif;
  background-color: lightgray;
}
